# Python
__pycache__/
*.py[cod]
*.sqlite
*.db
.env

# Robot Framework
#results/
#*.log
*.xml
*.html

# Docker
*.pid
*.sock
*.tar
docker-compose.override.yml

# Adminer 
adminer.php

# MySQL
*.sql
*.cnf
mysql_data/

# Sonstiges
.DS_Store
.vscode/
.idea/