# Python
__pycache__/
*.py[cod]
*.sqlite
*.db
.env

# Robot Framework
#results/
#*log.html
*output.xml
*report.html

# Selenium Screenshots
*.png

# Docker
*.pid
*.sock
*.tar
docker-compose.override.yml

# Adminer 
adminer.php
config/config.json

# MySQL
*.sql
*.cnf
mysql_data/

# Sonstiges
.DS_Store
.vscode/
.idea/
saucedemo_users.py