# erst venv erstellen (lokale virtuelle Kapselung)
# werden mit pip install -r requirements.txt einbgebunden

robotframework
robotframework-seleniumlibrary
robotframework-datadriver
robotframework-requests
robotframework-database

# nachträglich  
pip install robotframework-databaselibrary

# nicht in requirements sondern im Terminal ausgefhührt
pip install selenium 
python.exe -m pip install --upgrade pip

 mysql-connector-python
 pip install docker